<h1>Here's how your lawmakers voted this week:</h1>

<% @user.legislators.each do |leg| %>

  <h3><%= link_to leg.name, legislator_url(leg.id) %></h3>

  <% if leg.five_recent_votes.any? %>
    <% leg.five_recent_votes.each do |vote| %>
      <p><%= colored_yea_nay(vote.vote_type) %> <%= link_to vote.bill_id.upcase, bill_url(vote.bill.id) %> <%= vote.bill.official_title %></p>
    <% end %>
  <% else %>
    <p>No recent votes</p>
  <% end %>

<% end %>
