<div class="congressman">
  <%= image_tag legislator.photo_url %>
  <div class="identifier">
    <%= "#{legislator.first_name} #{legislator.last_name} (#{legislator.party}-#{legislator.state})" %>
  </div>
</div>
