<div class="navbar navbar-default">
  <div class="container-fluid text-center">
    <div class="login-links navbar-text">Sign up | Log in</div>
    <%= link_to "Congress Tracker", root_path, class: "site-name" %>
  </div>
</div>
